@import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
/* font-family: 'Monoton', cursive; */

:root {
    --dark: #3D2F3D;
    --orange: #FDAE86;
    --blue: #DAEAE4;
    --pink: #ffe6e8;
    --purple: #b5c2f4;
    --green: #d0f0c0;
    --alice: #f0f8ff;
}

* {
    color: var(--dark);
    font-family: 'Poiret One';
    text-decoration: none;
}

/* navbar */

#navbar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    background-color: white;
    opacity: 0.8;
    overflow: hidden;
    font-weight: 900;
    width: 100%;
    height: 9%;
    padding-top: 0;
    letter-spacing: 2px;
    z-index: +2;
    position: fixed;
    top: 0;
    left: 0;
    transition: top 0.3s;
}

#navbar h1 {
    padding-left: 20px;
}

#navbar h1 a {
    text-decoration: none;
}

#navbar nav ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 20px;
    text-align: center;
}

#navbar nav ul li {
    list-style-type: none;
}

#navbar nav ul li a {
    text-decoration: none;
}

body, html {
    height: 100%;
    background-color: var(--alice);
}

section {
    height: 100%;
}

.leaves{
    opacity: 0.7;
}

.leaves-home-1 {
    position: absolute;
    height: 100%;
    top: 0%;
    right: 0%;
    z-index: +1;
}

.jumbotron{
    position: absolute;
    border: 1vh solid white;
    height: 40vh;
    width: 60vw;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.welcome{
    position: absolute; 
    top: 50%;
    left: 50%; 
    font-size: 8vh;
    text-align: center;
    transform: translate(-50%, -50%);
}

.home-description{
    position: absolute; 
    top: 60%;
    left: 50%; 
    font-size: 4vh;
    text-align: center;
    transform: translate(-50%, -50%);
}

.leaves-home-2{
    position: absolute;
    height: 100%;
    top: 35%;
    left: -25%;
}

.profilePicture {
    border-radius: 50%;
    border: 1vh solid white;
    height: 50vh;
    position: absolute;
    z-index: +1;
    top: 110%;
    right: 6%;
}

.about-me{
    border: 1vh solid white;
    position: absolute;
    overflow: hidden;
    top: 120%;
    left: 10%;
    height: 70vh;
    width: 80vw;
}

.about-me .indent{
    width: 52vw;
    margin: 5vh;
    margin-bottom: 2vh;
    margin-top: 2vh;
    text-indent: 5vh;
}

.about-me .about-title{
    margin: 5vh;
    font-size: 4vh;
    text-align: center;
}

.inner-about{
    width: 55vw;
}

.signature{
    font-family: 'Handlee';
    margin: 5vh;
    margin-top: 2vh;
    float: right;
}

.leaves-about-1{
    position: absolute;
    height: 100%;
    top: 145%;
    right: 0%;
}

.leaves-services-1{
    position: absolute;
    height: 110%;
    top: 345%;
    right: 0%;
}

.leaves-gallery-1{
    position: absolute;
    height: 100%;
    left: 0%;
    top: 260%;
}

.project-container{
    padding: 6%;
    transform: translateY(-10%);
    display: flex;
}

.project-container .project{
    flex: 1;
    overflow: hidden;
    margin-top: 35vh;
    border: 1vh solid white;
    border-radius: 50%;
}

.project-container .project+.project{
    margin-left: 2vw;
}

.project-container .project .fab, .project-container .project .fas,  .project-container .project .far{
    margin-left: 50%;
    margin-top: 25%;
    transform: translate(-50%, -50%);
}

.project-container .project .description{
    padding: 2%;
    height: 28vh;
    width: 20vw;
    margin: 0 auto;
    text-align: center;
    font-size: 2.5vh;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

/* titles */
.title{
    position: absolute;
    letter-spacing: 5vw;
    font-size: 8vh;
}
#about-title{
    top: 115%;
    left: 5%;
}
#expert-title{
    top: 215%;
    left: 5%;
}
#portfolio-title{
    top: 415%;
    left: 5%;
}
#contact-title{
    top: 515%;
    right: 5%;
}
#contact-title:before{
    content: '';
    display: block;
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 4vh;
    right: 4%;
    z-index: -1;
    background-color: white;
}
#portfolio-title:before{
    content: '';
    display: block;
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 4vh;
    left: -4%;
    z-index: -1;
    background-color: white;
}
#expert-title:before{
    content: '';
    display: block;
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 4vh;
    left: -4%;
    z-index: -1;
    background-color: white;
}


.current-project{
    position: relative;
    top: 10vh;
    display: block;
    margin: auto;
    height: 80vh;
    width: 75%;
    border: 1vh solid white;
}
#current-project .cp-description{
    position: absolute;
    z-index: +1;
    top: 352vh;
    left: 50%; 
    padding: 2%;
    text-align: center;
    transform: translate(-50%, -50%);
    height: 72vh;
    width: 70%;
    border: 1vh solid white;
    background-color: white;
    opacity: 0.95;
}
#current-project .cp-description p{
    width: 70%;
    display: block;
    margin: auto;
}

.leaves-portfolio-1{
    position: absolute;
    height: 100%;
    left: 0%;
    top: 460%;
}

.leaves-contact {
    position: absolute;
    height: 100%;
    top: 505%;
    right: 0%;
}

footer {
    text-align: center;
}


.contact-text{
    position: absolute;
    top: 530vh;
    left: 12%;
}
.contact-items{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.contact-items input[type="text"]{
    border: 1vh solid white;
    background-color: transparent;
    width: 30vw;
    margin-bottom: 2vh;
}
.contact-items textarea{
    outline: none;
    border: 1vh solid white;
    background-color: transparent;
    width: 30vw;
    margin-bottom: 2vh;
}
.button{
    text-align: center;
    display: block;
    border: 1vh solid white;
    background-color: transparent;
    text-decoration: none;
    width: 10vw;
}

.alt-contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);  /* 3 columns */
    grid-template-rows: repeat(2, 5vh); /* 3 rows  */
    grid-gap: 10vh 0vw; /* 50 pixels of space added between rows and 30 pixels added between columns  */
    position: absolute;
    top: 532vh;
    left: 47%;
    text-align: center;
    width: 35vw;
}
.des{
    font-size: 2.5vh;
    margin-top: auto;
}