@media (max-width: 600px) {
    /* navbar */

    /* leaves */
    .leaves{ height: 50%;}
    .leaves-home-2{top: 65%; left: -45%;}
    .leaves-about{top: 180%;}
    /* home */
    .welcome{font-size: 4vh; margin: 5vh;}
    .typewrite{font-size: 2vh; margin: 5vh;}
    /* titles */
    .title{font-size: 4vh;}
    #about-title{top: 118%;}
    /* about */
    .profilePicture{height: 10vh; right: 2%; top: 114%;}
    .inner-about{width: 70vw; font-size: 60%; margin: 0 auto;}
    .about-me .indent{width: 60vw; margin-left: 0;}
    .about-me .indent-1{margin-top: 6vh;}
    /* expertise and portfolio */

    /* gallery */

    /* contact */
}